root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.bat]
end_of_line = crlf

[*.md]
# Trailing whitespace is important in Markdown (they distinguish a new line from a new paragraph)
trim_trailing_whitespace = false

[*.{kt,kts}]
ij_kotlin_allow_trailing_comma = false
ij_kotlin_allow_trailing_comma_on_call_site = false

[*.kts]
indent_style = tab

[*.xml.snapshot]
# The expected XML files contain trailing spaces. Removing them let the tests fail.
trim_trailing_whitespace = false

[.idea/*.xml]
# Config files from IntelliJ are without a final newline.
insert_final_newline = false

[documentation/modules/ROOT/images/extensions_StoreHierarchy.svg]
# SVG files from draw.io are without a final newline
insert_final_newline = false
