/*
 * CSS customizations for JUnit
 */

@import url('https://assets.junit.org/fonts/index.css');

:root {
    /* body, block and code fonts */
    --body-font-family: "Inter Variable", sans-serif;
    --block-font-family: "Inter Variable", sans-serif;
    --code-font-family: "JetBrains Mono Variable", monospace;
    /* Text colors for body and block elements */
    --body-text-color: #333;
    --block-text-color: #333;
    /* Colors for navigation bar and table captions */
    --navbar-background-color: #25a162;
    /* Background color for subnavigation and various headers */
    --subnav-background-color: #e8e8e8;
    --subnav-link-color: var(--link-color);
    /* Background and text colors for selected tabs and navigation items */
    --selected-background-color: #dc524a;
    --selected-text-color: #fff;
    --selected-link-color: #651410;
    /* Background colors for generated tables */
    --table-header-color: #eee;
    --even-row-color: #fff;
    --odd-row-color: #f6f6f6;
    /* Text color for page title */
    --title-color: #444;
    /* Text colors for links */
    --link-color: #dc524a;
    --link-color-active: #b62b23;
    /* Table of contents */
    --toc-background-color: #f8f8f8;
    --toc-hover-color: #eee;
    /* Snippet colors */
    --snippet-background-color: #ebecee;
    --snippet-text-color: var(--block-text-color);
    --snippet-highlight-color: #fcdbd9;
    /* Border colors for structural elements and user defined tables */
    --border-color: #eee;
    --table-border-color: #eee;
    /* Highlight color for active search tag target */
    --search-tag-highlight-color: #ffff00;
    /* Copy button colors and filters */
    --button-border-color: #b0b8c8;
}

h1, h2 {
    font-family: "Blinker", sans-serif;
    font-style: normal !important;
    font-weight: 600;
}

dl.notes > dt {
    font-size: var(--body-font-size);
}

@media screen and (min-width: 1024px) {
    .title {
        font-size: 2rem;
    }
}

.top-nav a:hover, .bottom-nav a:hover {
    text-decoration:underline;
    color:inherit;
}

.nav-bar-cell1-rev {
    background-color:#fff;
    color:#dc524a;
    border-radius: 6px;
    font-weight: bold;
}

hr {
    color: transparent;
    border-top: 1px solid var(--border-color);
}

dt {
    font-weight: bold;
}

tt,
code,
pre,
.module-signature,
.package-signature,
.type-signature,
.member-signature {
    font-variant-ligatures: none;
}
