name: Deploy Documentation

on: [ workflow_call, workflow_dispatch ]

permissions: {}

jobs:
  deploy_documentation:
    name: Deploy Documentation
    runs-on: ubuntu-slim
    permissions:
      actions: write
    steps:
      - name: Trigger documentation site deployment
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3.0.2
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          max_attempts: 10
          retry_wait_seconds: 5
          timeout_seconds: 20
          command: gh workflow run deploy-docs.yml --repo junit-team/junit-framework --ref docs-site
